<compiler-slider></compiler-slider>
<compiler-about-section></compiler-about-section>
<compiler-services></compiler-services>
<compiler-testmonials></compiler-testmonials>
<compiler-subscribe></compiler-subscribe>
<compiler-counter></compiler-counter>
<compiler-posts></compiler-posts>
<compiler-sponsors></compiler-sponsors>
